body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Set a suitable font */
}

.sidebar {
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}

.notes {
  color: #203562;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  padding: 20px;
}

.note {
  padding: 10px;
  background-color: #203562;
  border-radius: 8px;
  margin: 0 20px 10px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.div1 {
  position: relative;
  max-width: 1150px;
  margin: 30px auto;
  border-radius: 16px;
  background: #f5f5f5;
  box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);
  opacity: 0.8;
}

.wrapper {
  padding: 15px;
}

.form-control {
  border: none !important;
  background-color: #f5f5f5;
  color: #203562;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

h3 {
  color: #203562;
  font-weight: 500;
}

.div2 {
  margin-top: 20px;
}

.mynote,
.recent {
  color: #203562;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
  }

  .div1 {
    margin-left: 0;
    max-width: 100%;
  }

  .div2,
  .mynote,
  .recent {
    margin-left: 0;
  }
}
